/****************************************/

#main-section {
    background-color: rgb(245, 245, 245);
    padding: 0px;
    margin: 0px;
    min-height: calc(100vh - 70px);
}

#text-col {
    width: 70%;
    background-color: white;
    margin: 0px auto;
    padding: 5px;
    min-height: calc(100vh - 70px);
    vertical-align: top;

}

h2 {
    font-family: "Josefin Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    margin: 20px 40px 10px 40px;
    font-size: 25px;
    display: block;
}

p {
    font-family: "Josefin Sans", "Inconsolata", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 40px;
}
