@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


h1 {
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    color: white;
    font-weight: normal;
    margin: 0px 0px 5px 10px;
    font-size: 25px;

}

#header {
    margin: 0px;
    padding: 0px;
    background-color: #0b3963;
    width: 100%;
    height: 35px;
}

body {
    margin: 0px;
    padding: 0px;
}

#left-col {
    margin: 0px;
    padding: 0px;
    width: 20%;
    height: 600px;
    display: inline-block;
    background-color: antiquewhite;
}

#content {
    margin: 0px;
    padding: 5px;
    background-color: rgb(233, 255, 255);
    display: inline-block;
    vertical-align: top;
    width: 78%;
    height: 600px;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
}

#answers {
    display: inline-block;
    vertical-align: top;
    margin: 30px 5px 20px 20px;
    font-size: 20px;
    line-height: 40px;
    width: 50%;
}

.container {
    margin: 0px;
    padding: 0px;
}

#question {
    font-weight: normal;
    margin: 10px 20px;
}
.choice {
    width: 80%;
    white-space: normal;
    margin: 0px;
    padding: 20px;
    border-top: solid 2px #65afd6;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: #E9FFFF;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
}

#d {
    border-bottom: solid 2px #65afd6;
}

.choice:hover {
    background-color: #65afd6;
}

.choice:active {
    background-color: white;
}

.choice:disabled {
    color: black;
}

.cross {
    width: 10%;
    display: none;
    vertical-align: middle;
    margin: auto 4%;
    padding: 0px;
}

#next {
    width: 80%;
    margin: 40px 0px 0px 0px;
    background-color: #0b3963;
    color: white;
    padding: 25px;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    display: none;
}

#next:hover {
    background-color: #65afd6;
}

#right-col {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0px;
    padding: 0px;
}

#question-image {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#stimuli {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
}

#tips {
    margin: auto auto;
    padding: 0px;
    border: solid 2px #0b3963;
    border-radius: 5px;
    background-color: white;
    width: 196px;
    height: 146px;
    display: none;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
}

#tip-cover {
    margin: auto auto;
    padding: 0px;
    border: solid 2px #0b3963;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 150px;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
}

#tip-cover:hover {
    background-color: #0b3963;
    color: white;
}

#chapter-choice {
    margin: 15px;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;

}
