@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    color: white;
    font-weight: normal;
    margin: 10px;
    font-size: 20px;
    line-height: 100%;
}

#header {
    margin: 0px;
    padding-bottom: 0px;
    background-color: #0b3963;
    width: 100%;
    min-height: 35px;
    line-height: 30px;
}



body {
    margin: 0px;
    padding: 0px;
}

#nav-button-block {
    horiz-align: right;
    display: inline-block;
    padding: 5px 0px;
}

.header-row {
    display: inline-block;
    vertical-align: middle;
}

.page-links {
    color: white;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    border-radius: 3px;
    border: solid 1px transparent;
    margin: 2px 10px;
    padding: 3px 5px;
    font-weight: 300;
    line-height: 100%;
    position: relative;
    /*top: 2px;*/

}

.page-links:hover {
    border: solid 1px white;
}

#footer {
    min-height: 35px;
    background-color: #0b3963;
}

#footer-text {
    color: white;
    font-family: "Zilla Slab", "Inconsolata", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 0px;
    margin: 0px auto;
}


